$mobile:768px;
$tablet:1024px;
$desktop:1280px;
$primary:#fa4625;
$light:#fff4f2;
body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    max-width: 100%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dflex-sb-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dflex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.top{    
    background-color: #000;
    padding:0px 10px;
    a{
        color: hsla(0,0%,100%,.6);
        padding: 5px 15px;
        display: block;
        font-size:12px;
    }
    a:hover{
        cursor: pointer;
        color: #fff;
    }
}
.navbar.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding:0px 10px;
    box-shadow:0px 10px 5px rgba(200,200,200,0.6);
    .logo-sm{
        background: red;
        width: 100px;
        height: 48px;
        display:flex;
        padding: 5px;
        img{
            height:30px;
        }
    }    
    .nav-link{
        color:#adadad;
        display:block;
        padding:5px 10px;
    }
    .nav-link:hover{
        color:#000;
    }
    .nav-right{        
        .nav-link{
            border-left:1px solid #adadad;
            height: 48px;
            display: flex;
        }
    }
}
.ft-art-1{
    .cover{
        background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/thumb_site-796x417.png");
        
    }
}
.ft-art-2{
    .cover{
        background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/italian-blokchain-bitcoin-cryptocurrency-sales-online-purchases-payment-796x448.jpg");
    }
}
.ft-art-3{
    .cover{
        background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/200-calories-4-3-796x417.png");
    }
}
.container{
    max-width:1200px;
    margin:auto;
    padding:0px 15px;
}
.sec{
    margin-top:60px;
    .sec-title{
        color:$primary;
        font-size:1.5rem;
        margin:0px 0px 10px 0px;
    }
    .sec-title:hover{
        cursor: pointer;
        color: #000;
    }
}

.art-cover:hover{
    cursor: pointer;
}
.art-title{
    margin-bottom: 0px;
}
.art-title:hover{
    cursor: pointer;
    color: #f42;
}
.art-infos{
    color: #aaa;
    font-size: 12px!important;
    font-weight: 700;
    padding: 5px 0px;
}
.latest-funding{
    .header{
        margin-bottom:15px;
        ul{
            a{
                color:$primary;
            }
            a:hover{
                color:#000;
            }
        }
    }
    .fund-article{
        position: relative;
        background:#fffaf8;
        margin-bottom:24px;
        .logo{
            width: 60px;
            height: 60px;
            position: absolute;
            top:10px;
            left: 10px;
            background-size:cover;
            img{
                display:none;
            }
            
        }
        .title{
            background: $primary;
            padding: 15px 15px 10px 85px;
            color:#fff;
            font-weight: bold;
        }
        .amount{
            background: $light;
            padding: 10px 15px 15px 85px;
            color:#000;
            font-weight: bold;
            small{
                font-size:12px;
                color:#aaa;
            }
        }
        .content{
            padding:16px;
            ul{
                li{
                    margin-bottom:10px;
                    a{
                        color:#333;
                        font-size:16px;
                        .icon{
                            margin-right:15px;
                        }
                    }
                }
            }
        }
        .footer{
            padding:16px;
            border-top:1px solid rgba(255,68,34,.25);
            font-size:12px;
        }
    }
    
    
}
@media screen and (max-width:$mobile){
    .grid{
        display:block;
        
    }
    .dflex-sb-c{
        display:block;
    }
    header{
        .navbar.top{
            display: none;
        }
        .navbar.main{
            .breadcumb{
                display: flex;
            }
            .logo-sm{
                display:block;
            }
            .nav-left{
                display: none!important;
            }
            .nav-right{
            
                .nav-link{
                    display: flex;        
                }
            }
        }
    }
    .featured{
        display: block;
        padding: 15px;
        .ft-art{
            position: relative; 
            min-height: 30vh;
            margin-bottom: 10px;
            .cover{
                height: 30vh;
                background-size: 100%;
                
            }
            .date{
                display: none;
            }
            .infos{
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                color: #fff;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
                .info-btm{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    left: 0px;
                    padding: 15px;
                    .category{
                        font-size: 16px;
                    }
                    .title{
                        margin: 5px 0px;
                        font-size: 18px;
                    }
                    .details{
                        color: hsla(0,0%,100%,.6);
                        font-size: 12px;                        
                    }
                }           
            }
            .infos:hover{
                cursor: pointer;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
            }
        }
    }

    .latest-news{
        display: block;
        padding: 0px;
        margin: 0px;
        .lt-article{
            clear: both;
            margin-bottom: 15px;
            .art-cover{
                height: 75px;
                width: 75px;
                margin-right: 10px;
                float: left;            
                background-size: cover;
                bottom: 0px;
                position: relative;
                margin-bottom: 5px;
            }
        }
        
    }
    .latest-funding{
        
        .fund-article:last-child{
            display:none;
        }
        
    }
}
@media screen  and (min-width:$mobile){
    .grid{
        display:grid;
    }
    .grid-4-2{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .grid-4-1{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .grid-3-3{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    header{
        position: relative;
        .navbar.top{
            margin-left: 100px;
        }
        .navbar.main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 100px;;
            .breadcumb{
                display: none;
            }
            .logo-sm{
                position:absolute;
                top: 0px;
                left: 0px;
                bottom:0px;
                height: 100%;
            }
            .nav-left{
                display: flex;
            }
        }
    }
    .featured{
        display: flex;
        padding: 15px;
        height:60vh;
        .ft-art{
            position: relative; 
            
            margin-bottom: 10px;
            margin:5px;
            .cover{
                height: 100%;
                background-size: cover;
            }
            .date{
                display: none;
            }
            .infos{
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                color: #fff;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
                .info-btm{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    left: 0px;
                    padding: 15px;
                    .category{
                        font-size: 16px;
                    }
                    .title{
                        margin: 5px 0px;
                        font-size: 18px;
                    }
                    .details{
                        color: hsla(0,0%,100%,.6);
                        font-size: 12px;                        
                    }
                }           
            }
            .infos:hover{
                cursor: pointer;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
            }
        }
        .ft-art-1{
            width:66.666%;
            height:60vh;
        }
        .ft-col{
            
            height:60vh;
            width:33.333%;
            
        }
        .ft-art-2{
            
            height:50%;
            
        }
        .ft-art-3{
            
            height:50%;
            
        }
    }
    .latest-news{
        .art-cover{
            height: 129px;
            width: 258px;
            background-size: cover;
            bottom: 0px;
            position: relative;
            margin-bottom: 0px;
        }
    }
    .latest-funding{
        .header{
            display:block;
            ul{
                justify-content: flex-start;
                li{
                    padding:0px;
                }
                li:nth-child(2){
                    padding:0px 10px;
                    border-left: 1px solid $primary;
                    border-right: 1px solid $primary;
                    margin:0px 10px;
                }
            }
        }
        .fund-article:last-child{
            display:none;
        }
        
    }
}
@media screen and (min-width:$tablet){
    .grid{
        display:grid;
    }
    .grid-4-2{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .grid-4-1{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .grid-3-3{       
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    header{
        .navbar.top{
            margin-left: 0px;
        }
        .navbar.main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 0px;;
            .breadcumb{
                display: none;
            }
            .logo-sm{
                display: none;
            }
            .nav-left{
                display: flex;
            }
        }
    }
    .featured{
        display: flex;
        padding: 15px;
        height:60vh;
        .ft-art{
            position: relative; 
            margin-bottom: 10px;
            margin:5px;
            .cover{
                height: 100%;
                background-size: cover;
            }
            .date{
                display: none;
            }
            .infos{
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                color: #fff;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
                .info-btm{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    left: 0px;
                    padding: 15px;
                    .category{
                        font-size: 16px;
                    }
                    .title{
                        margin: 5px 0px;
                        font-size: 18px;
                    }
                    .details{
                        color: hsla(0,0%,100%,.6);
                        font-size: 12px;                        
                    }
                }           
            }
            .infos:hover{
                cursor: pointer;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
            }
        }
        .ft-art-1{
            width:66.666%;
            height:60vh;
        }
        .ft-col{
            
            height:60vh;
            width:33.333%;
            
        }
        .ft-art-2{
            
            height:50%;
            
        }
        .ft-art-3{
            
            height:50%;
            
        }
    }
    .latest-news{
        .art-cover{
            height: 129px;
            width: 258px;
            background-size: cover;
            bottom: 0px;
            position: relative;
            margin-bottom: 0px;
        }
    }
    .latest-funding{
        .header{
            display:flex;
            ul{
                li{
                    padding:0px;
                }
                li:nth-child(2){
                    padding:0px 10px;
                    border-left: 1px solid $primary;
                    border-right: 1px solid $primary;
                    margin:0px 10px;
                }
            }
        }
        .fund-article:last-child{
            display:block;
        }
        
    }
    
}